<template>
    <div>
         <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Aplikasi</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Apliaksi</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

         <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">

                     <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div v-show="!editStatus">
                                    <div class="text-center mb-4">
                                        <img class="profile-user-img img-fluid" :src="'/assets/images/app/'+form.logo" alt="Logo">
                                    </div>
                                    <ul class="list-group list-group-unbordered mb-3">
                                        <li class="list-group-item">
                                            <b>Judul </b> <span class="float-right">{{ form.title }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Nama</b> <span class="float-right">{{ form.name }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Icon</b> <span class="float-right">
                                                <img :src="'/assets/images/app/'+form.icon" alt="icon" width="30" height="30">
                                            </span>
                                        </li>
                                        <li class="list-group-item">
                                            <b>Deskripsi :</b> <br>
                                            {{ form.description }}
                                        </li>
                                    </ul>
                                    <button @click.prevent="editStatus = true" class="btn btn-info text-white"><i class="fas fa-edit"></i> Ubah</button>
                                </div>
                                <div v-show="editStatus">
                                    <div class="card-title text-center">Ubah Informasi Aplikasi</div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Logo</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" @change="updateLogo" class="custom-file-input">
                                                <label class="custom-file-label logo">Pilih logo</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><img :src="getLogo()" alt="icon" width="20" height="20"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Judul</label>
                                        <input type="text" class="form-control" v-model="form.title" placeholder="Judul" :class="{ 'is-invalid': form.errors.has('title') }">
                                        <has-error :form="form" field="title"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label>Nama Aplikasi</label>
                                        <input type="text" v-model="form.name" class="form-control" placeholder="Nama Aplikasi" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputFile">Icon</label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" @change="updateIcon" class="custom-file-input">
                                                <label class="custom-file-label icon">Pilih icon</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text"><img :src="getIcon()" alt="icon" width="20" height="20"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Deskripsi</label>
                                        <input type="text" v-model="form.description" class="form-control" placeholder="Deskripsi" :class="{ 'is-invalid': form.errors.has('description') }">
                                        <has-error :form="form" field="description"></has-error>
                                    </div>
                                    <button @click.prevent="saveApp" class="btn btn-success text-white"><i class="fas fa-save"></i> Simpan</button>
                                    <button @click.prevent="editStatus = false, appInfo()" class="btn btn-danger text-white"><i class="fas fa-times"></i> Batal</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card card-info card-outline">
                            <div class="card-header pb-0 bg-white">
                                <div class="card-title">Informasi Kontak</div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Nama</label>
                                    <div class="col-sm-10">
                                    <input type="text" v-model="contact.name" class="form-control" placeholder="Nama" :class="{ 'is-invalid': contact.errors.has('name') }">
                                    <has-error :form="contact" field="name"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                    <input type="email" v-model="contact.email" class="form-control" placeholder="Email" :class="{ 'is-invalid': contact.errors.has('email') }">
                                    <has-error :form="contact" field="email"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Telepon</label>
                                    <div class="col-sm-10">
                                    <input type="text" v-model="contact.phone" class="form-control" placeholder="Nomor Telepon" :class="{ 'is-invalid': contact.errors.has('phone') }">
                                    <has-error :form="contact" field="phone"></has-error>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-2 control-label">Alamat</label>
                                    <div class="col-sm-10">
                                    <input type="text" v-model="contact.address" class="form-control" placeholder="Alamat" :class="{ 'is-invalid': contact.errors.has('address') }">
                                    <has-error :form="contact" field="address"></has-error>
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer bg-white">
                                <button class="btn btn-success" @click.prevent="updateContact"><i class="fas fa-save"></i> Simpan</button>                               
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.Main content -->
    </div>
</template>

<script>
export default {
    data(){
        return {
            editStatus:false,
            form: new Form({
                id:'',
                title : '',
                name: '',
                icon: '',
                description: '',
                logo: ''
            }),
            contact: new Form({
                id:'',
                name:'',
                phone:'',
                email:'',
                address:''
            })
        }
    },
    methods:{
        appInfo(){
            this.$Progress.start()
            axios.get('/api/appInfo')
            .then( ({data})=>{
                this.form.fill(data);
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        loadContact(){
            this.$Progress.start()
            axios.get('/api/appContact')
            .then( ({data})=>{
                this.contact.fill(data);
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        saveApp(){
            this.$Progress.start()
            this.form.put('/api/app')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.editStatus = false
                    this.appInfo()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        getLogo(){
            let logo = (this.form.logo.length > 200) ? this.form.logo : "/assets/images/app/"+ this.form.logo ;
            return logo;
        },
        updateLogo(e){
            let file = e.target.files[0];
            let reader = new FileReader();
            
            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }else{
                $('.logo').html(file.name)
                reader.onloadend = (file) => {
                    this.form.logo = reader.result;
                }
                reader.readAsDataURL(file);
            }
        },
        getIcon(){
            let icon = (this.form.icon.length > 200) ? this.form.icon : "/assets/images/app/"+ this.form.icon ;
            return icon;
        },
        updateIcon(e){
            let file = e.target.files[0];
            let reader = new FileReader();
            
            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }else{
                $('.icon').html(file.name)
                reader.onloadend = (file) => {
                    this.form.icon = reader.result;
                }
                reader.readAsDataURL(file);
            }
        },
        updateContact(){
            this.$Progress.start()
            this.contact.put('/api/appContact')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        }
    },
    created(){
        this.appInfo()
        this.loadContact()
    }
}
</script>