<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Halaman Depan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Halaman Depan</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
            
                <!-- Kolom Pertama -->
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                        <h3 class="card-title mb-0" v-show="titleOne">{{data.column_one.title}}</h3>
                        
                        <div class="input-group col-10" v-show="!titleOne">
                            <input type="text" v-model="data.column_one.title" class="form-control" placeholder="Judul Kolom 1" >
                            <div class="input-group-append" id="button-addon4">
                                <button class="btn btn-success" type="button" @click.prevent="saveTitleColumnOne"><i class="fas fa-save"></i> Simpan</button>
                                <button class="btn btn-danger" type="button" @click.prevent="titleOne = true"><i class="fas fa-times"></i> Batal</button>
                            </div>
                        </div>
                        
                        <div class="card-tools">
                            <button id="editColumnOne" v-show="titleOne" @click.prevent="titleOne = false" target="false" class="btn btn-sm btn-info text-white">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                            
                            <router-link to="/settings/add-content-one" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i> Tambah
                            </router-link>
                        </div>
                    </div>

                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Judul</th>
                                    <th>Deskripsi</th>
                                    <th>Link</th>
                                    <th>Gambar</th>
                                    <th class="text-center" style="width:200px;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-show="data.column_one.data.length == 0">
                                    <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                                </tr>
                                <tr v-for="(data, index) in data.column_one.data" :key="index">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.description }}</td>
                                    <td>{{ data.link }}</td>
                                    <td><img :src="'/assets/images/landing/'+data.image" alt="IMG" width="50"></td>
                                    <td class="text-center">
                                        <router-link :to="{name:'edit-content', params:{content_id:data.id} }" class="btn text-white btn-info btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </router-link> 

                                        <button @click="remove(data.id)" class="btn btn-danger btn-sm value">
                                            <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Kolom Keluda -->
                <div class="card card-primary card-outline">
                    <div class="card-header bg-white">
                        <h3 v-show="titleTwo" class="card-title mb-0">{{data.column_two.title}}</h3>

                        <div class="input-group col-10" v-show="!titleTwo">
                            <input type="text" v-model="data.column_two.title" class="form-control" placeholder="Judul Kolom 2" >
                            <div class="input-group-append" id="button-addon4">
                                <button class="btn btn-success" type="button" @click.prevent="saveTitleColumnTwo"><i class="fas fa-save"></i> Simpan</button>
                                <button class="btn btn-danger" type="button" @click.prevent="titleTwo = true"><i class="fas fa-times"></i> Batal</button>
                            </div>
                        </div>

                        <div class="card-tools">
                            <button id="editColumnOne" v-show="titleTwo" @click.prevent="titleTwo = false" target="false" class="btn btn-sm btn-info text-white">
                                <i class="fas fa-edit"></i> Edit
                            </button>

                            <router-link to="/settings/add-content-two" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i> Tambah
                            </router-link>
                        </div>
                    </div>

                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="10">#</th>
                                    <th>Judul</th>
                                    <th>Deskripsi</th>
                                    <th>Link</th>
                                    <th>Gambar</th>
                                    <th class="text-center" style="width:200px;">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-show="data.column_two.data.length == 0">
                                    <td colspan="5"><strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan.</strong></td>
                                </tr>
                                <tr v-for="(data, index) in data.column_two.data" :key="index">
                                    <td>{{ index+1 }}</td>
                                    <td>{{ data.title }}</td>
                                    <td>{{ data.description }}</td>
                                    <td>{{ data.link }}</td>
                                    <td><img :src="'/assets/images/landing/'+data.image" alt="IMG" width="50"></td>
                                    <td class="text-center">
                                        <router-link :to="{name:'edit-content', params:{content_id:data.id} }" class="btn text-white btn-info btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </router-link> 

                                        <button @click="remove(data.id)" class="btn btn-danger btn-sm value">
                                            <i class="fas fa-trash"></i> Hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data() {
        return {
            data:{
                column_one:{
                    title:'',
                    data:[]
                },
                column_two:{
                    title:'',
                    data:[]
                }
            },
            titleOne:true,
            titleTwo:true,
        }
    },
    methods: {
        loadLanding(){
            this.$Progress.start()
            axios.get('/api/landing')
            .then( ({data})=>{
                this.data = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },

        saveTitleColumnOne(){
            this.$Progress.start()
            axios.post('/api/landing/titleOne/'+this.data.column_one.title).then( ({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        title: 'Sukses!',
                        text: data.message,
                        type: 'success',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                        this.titleOne=true
                        this.loadLanding()
                        this.$Progress.finish()
                }else{
                    this.$swal({
                        title: 'Failed!',
                        text: data.message,
                        type: 'error',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$Progress.fail()
                }
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },

        saveTitleColumnTwo(){
            this.$Progress.start()
            axios.post('/api/landing/titleTwo/'+this.data.column_two.title).then( ({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        title: 'Sukses!',
                        text: data.message,
                        type: 'success',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                        this.titleTwo=true
                        this.loadLanding()
                        this.$Progress.finish()
                }else{
                    this.$swal({
                        title: 'Failed!',
                        text: data.message,
                        type: 'error',
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$Progress.fail()
                }
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },

        remove(id) {
            this.$swal({
            title: 'Apa anda yakin?',
            text: "Anda tidak dapat mengembalikan data ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',
            confirmButtonText: 'Ya, Hapus !'
            }).then((result) => {
            if (result.value) {
                this.$Progress.start()
                axios.delete('/api/landing/'+id).then( ({data}) => {
                
                if(data.status == 'true'){
                    this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.loadLanding()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.$Progress.fail()
                }
                })
                
            }
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }
            this.$Progress.fail() 
        })
      }
    },
    mounted() {
        this.loadLanding()   
    }
}
</script>