<template>
  <div>
      <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Buat Postingan</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Blog</li>
                    <li class="breadcrumb-item active">Buat Postingan</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">
                
                <div class="card card-primary card-outline">
              <div class="card-header bg-white">
               <div class="form-group row mb-0">
                    <div class="col-sm-8">
                        <input type="text" v-model="form.title" class="form-control" placeholder="Judul Postingan" :class="{ 'is-invalid': form.errors.has('title') }">
                        <has-error :form="form" field="title"></has-error>
                    </div>
                    <div class="col-sm-4 text-right">
                        <button class="btn btn-success" @click.prevent="form.status = true, publishPost()"><i class="fas fa-globe"></i> Publik</button>
                        <button class="btn btn-info text-white" @click.prevent="savePost()"><i class="fas fa-save"></i> Simpan</button>
                        <router-link to="/blog/posts" class="btn btn-secondary"><i class="fas fa-times-circle"></i> Tutup</router-link>
                    </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">

                <vue-editor :editorToolbar="customToolbar" :editorOptions="editorSettings" v-model="form.content"> </vue-editor>
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer bg-white">
                 <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" @change="addImage">
                        <label class="custom-file-label coverLabel" >Pilih Gambar Sampul</label>
                    </div>
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <img :src="getCover()" width="18">
                        </div>
                    </div>
                </div>
              </div>
            </div>

            </div>
        </div>
  </div>
</template>

<script>

import { ImageDrop } from "quill-image-drop-module";
import ImageResize from "quill-image-resize-module";

Quill.register("modules/imageDrop", ImageDrop);
Quill.register("modules/imageResize", ImageResize);

export default {
    data(){
        return {
            form: new Form({
                title:null,
                content:null,
                status:false,
                image:'',
            }),
            editorSettings: {
                modules: {
                    imageDrop: true,
                    imageResize: {}
                }
            },
            customToolbar: [
                [{ 'header': [false, 1, 2, 3, 4, 5, 6, ] }],
                [{ 'font': [] }],
                // [{ 'size': ['small', false, 'large', 'huge'] }],
                ['bold', 'italic', 'underline', 'strike'],
                [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
                // [{ 'header': 1 }, { 'header': 2 }],
                // ['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }, { 'list': 'check' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'color': [] }, { 'background': [] }],
                ['link', 'image', 'video', 'formula'],
                [{ 'direction': 'rtl' }, 'clean'],
            ],
        }
    },
    methods:{
        addImage(e){
            let file = e.target.files[0];
            let reader = new FileReader();
            
            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }else{
                $('.coverLabel').html(file.name)
                reader.onloadend = (file) => {
                    this.form.image = reader.result;
                }
                reader.readAsDataURL(file);
            }
        },
        getCover(){
            let cover = (this.form.image.length > 200) ? this.form.image : "/assets/images/post-cover/"+this.form.image ;
            return cover;
        },
        publishPost(){
            this.$Progress.start()
            this.form.post('/api/savePost')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$router.push('/blog/posts')
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        savePost(){
            this.$Progress.start()
            this.form.post('/api/savePost')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        }
    },
    created(){
        this.$Progress.start()
        this.$Progress.finish()
    }
}
</script>