<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Galery</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <router-link to="/home">Beranda</router-link>
                        </li>
                        <li class="breadcrumb-item active">Galery</li>
                        <li class="breadcrumb-item active">Tambah Galery</li>
                    </ol>
                </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header bg-white pb-0">
                        <h3 class="card-title">
                            Tambah Galery
                        </h3>
                    </div>
                    <div class="card-body">

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Judul</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="form.title" class="form-control" placeholder="Judul" :class="{ 'is-invalid': form.errors.has('title') }">
                                <has-error :form="form" field="title"></has-error>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Gambar</label>
                            <div class="col-sm-10">
                                <input type="file" @change="updateImage" class="form-control-file" :class="{ 'is-invalid': form.errors.has('image') }">
                                <has-error :form="form" field="image"></has-error>
                            </div>
                        </div>

                        <hr>
                        <div class="text-center">
                            <img :src="form.image" alt="Pratinjau Gambar">
                        </div>
                        <hr>

                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Deskripsi</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="form.description" class="form-control" placeholder="Deskripsi" :class="{ 'is-invalid': form.errors.has('description') }">
                                <has-error :form="form" field="description"></has-error>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer bg-white">
                        <button class="btn btn-success" @click.prevent="addGalery"><i class="fas fa-save"></i> Simpan</button>
                        <router-link to="/gallery" class="btn btn-danger" style="color:#fff !important;"><i class="fas fa-times-circle"></i> Batal</router-link>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            form: new Form({
                title:null,
                description:null,
                image:null
            })
        }
    },
    methods:{
        addGalery(){
            this.$Progress.start()
            this.form.post('/api/galery')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$router.push('/gallery')
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },
        updateImage(e){
            let file = e.target.files[0];
            let reader = new FileReader();

            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }else{

                reader.onloadend = (file) => {
                    this.form.image = reader.result;
                }
                reader.readAsDataURL(file);
            }
        }
    },
    mounted(){
        this.$Progress.start()
        this.$Progress.finish()
    }
}
</script>