<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Galery</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Galery</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">

                <div class="card card-primary card-outline">
                    <div class="card-header bg-white pb-0">
                        <h3 class="card-title">Galery</h3>
                        <div class="card-tools">
                            <router-link to="/create-gallery" class="btn btn-sm btn-success">
                                <i class="fas fa-plus"></i> Tambah Galery
                            </router-link>
                        </div>
                    </div>
                    <div class="card-body">
                        <div v-show="galleries.length == 0">
                            <strong class="text-info"><i class="fas fa-info-circle"></i> Tidak ada data untuk ditampilkan. {{ galleries.length }}</strong>
                        </div>
                        <div class="row">
                            
                            <div v-for="(gallery, index) in galleries" :key="index" class="col-md-3 col-sm-6 col-12">
                                <div class="info-box bg-white p-0">
                                    <div class="info-box-content">
                                        <img :src="'/assets/images/gallery/'+gallery.image" class="img-thumbnail img-slider" alt="">
                                        <h4 class="mt-1 mb-0">{{ gallery.title }}</h4>
                                        <p class="m-1">{{ gallery.description }}</p>
                                        <router-link :to="{name:'edit-gallery', params:{galery_id:gallery.id} }" class="btn text-white btn-info btn-sm">
                                            <i class="fas fa-edit"></i> Edit
                                        </router-link> 
                                        <button class="btn btn-sm btn-danger" @click="remove(gallery.id)"><i class="fas fa-trash"></i> Hapus</button>
                                    </div>
                                <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>
                            
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return{
            galleries:[]
        }
    },
    methods:{
        loadGallery(){
            this.$Progress.start()
            axios.get('/api/galery')
            .then( ({data})=>{
                this.galleries = data
                this.$Progress.finish()
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })
        },
        remove(id) {
            this.$swal({
            title: 'Apa anda yakin?',
            text: "Anda tidak dapat mengembalikan data ini!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: 'Batal',
            confirmButtonText: 'Ya, Hapus !'
            }).then((result) => {
            if (result.value) {
                this.$Progress.start()
                axios.delete('/api/galery/'+id).then( ({data}) => {
                
                if(data.status == 'true'){
                    this.$swal({
                    title: 'Sukses!',
                    text: data.message,
                    type: 'success',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.loadGallery()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                    title: 'Gagal!',
                    text: data.message,
                    type: 'error',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                    })
                    this.$Progress.fail()
                }
                })
                
            }
        })
        .catch( ({response}) =>{
            if(response.status=='401'){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sesi telah berakhir, silahkan masuk kembali!',
                }).then( response => {
                    this.$router.go('/login')
                })
            }
            this.$Progress.fail() 
        })
      }
    },
    mounted(){
        this.loadGallery()
    }
}
</script>