<template>
    <div>
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Pengaturan Akun</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <router-link to="/home">Beranda</router-link>
                    </li>
                    <li class="breadcrumb-item active">Pengaturan</li>
                    <li class="breadcrumb-item active">Akun</li>
                </ol>
            </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                
                <div class="row">

                    <div class="col-md-4">
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid" :src="getProfilePhoto()" alt="Picture">
                                </div>

                                <h3 class="profile-username text-center">{{ form.name }}</h3>

                                <ul class="list-group list-group-unbordered mb-3">
                                    <li class="list-group-item">
                                        <b>Email</b> <span class="float-right">{{ form.email }}</span>
                                    </li>
                                        <li class="list-group-item">
                                        <b>Tugas</b> <span class="float-right">{{ form.type }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="card card-warning card-outline">
                            <div class="card-header pb-0 bg-white">
                                <div class="card-title">Ubah informasi akun</div>
                            </div><!-- /.card-header -->
                            <div class="card-body">

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Foto</label>
                                        <div class="col-sm-10">
                                        <input type="file" @change="updateProfile" ref="myFileInput" class="form-control-file">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Nama</label>
                                        <div class="col-sm-10">
                                        <input type="text" v-model="form.name" class="form-control" placeholder="Nama" :class="{ 'is-invalid': form.errors.has('name') }">
                                        <has-error :form="form" field="name"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-10">
                                        <input type="email" class="form-control" v-model="form.email" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                                        <has-error :form="form" field="email"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label">Kata Sandi</label>
                                        <div class="col-sm-10">
                                        <input type="password" class="form-control" v-model="form.password" placeholder="Kata Sandi" :class="{ 'is-invalid': form.errors.has('password') }">
                                        <has-error :form="form" field="password"></has-error>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 control-label orange">Catatan:</label>
                                        <div class="col-sm-10">
                                        <span class="red">*</span> Biarkan kata sandi kosong jika tidak ingin mengubah kata sandi.
                                        </div>
                                    </div>

                            </div><!-- /.card-body -->
                            <div class="card-footer bg-white">
                                <button class="btn btn-success" @click.prevent="updateInfo"><i class="fas fa-save"></i> Simpan</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /.Main content -->
    </div>
</template>
<script>
export default {
    data(){
        return {
            form: new Form({
                name : '',
                email: '',
                password: '',
                type: '',
                photo: ''
            })
        }
    },
    methods:{
        loadProfile(){
            this.$Progress.start()
            axios.get("/api/profile")
            .then(({ data }) => { 
                this.form.fill(data) 
                this.$Progress.finish()    
            })
            .catch( ({response}) =>{
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$Progress.fail() 
            })    
        },
        getProfilePhoto(){
            let photo = (this.form.photo.length > 200) ? this.form.photo : "/assets/images/app/"+ this.form.photo ;
            return photo;
        },

        updateInfo(){
            this.$Progress.start();
            if(this.form.password == ''){
                this.form.password = undefined;
            }
            this.form.put('/api/profile')
            .then(({data})=>{
                if(data.status == 'true'){
                    this.$swal({
                        type: 'success',
                        title: 'Sukses',
                        text: data.message,
                        toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000
                    })
                    this.$refs.myFileInput.value = ''
                    this.loadProfile()
                    this.$Progress.finish()
                }else{
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: data.message,
                    })
                    this.$Progress.fail();
                }
            })
            .catch(({response}) => {
                if(response.status=='401'){
                    this.$swal({
                        type: 'error',
                        title: 'Oops...',
                        text: 'Sesi telah berakhir, silahkan masuk kembali!',
                    }).then( response => {
                        this.$router.go('/login')
                    })
                }
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Sepertinya telah terjadi kesalahan!',
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000
                })
                this.$Progress.fail();
            });
        },

        updateProfile(e){
            let file = e.target.files[0];
            let reader = new FileReader();

            let limit = 1024 * 1024 * 2;
            if(file['size'] > limit){
                this.$swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'File terlalur besar (max:2MB)',
                })
                return false;
            }

            reader.onloadend = (file) => {
                this.form.photo = reader.result;
            }
            reader.readAsDataURL(file);
        }
    },
    created(){
        this.loadProfile()
    }
}
</script>